<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap/dist/css/bootstrap.min.css"> -->
    <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap/dist/css/bootstrap.min.css"> -->
    <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"> -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
        integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
    <!-- <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script> -->
    <!-- <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script> -->
    <!-- <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script> -->

    <script src="/scripts/cart.js"></script>
    <link rel="stylesheet" href="/css/user/login.css">
    <title>Cart</title>

    <style>
        .cart-total-container {
            height: auto;
            width: 25vw;
            float: right;
            margin-top: -68vh;
            margin-right: 15px;
            border-radius: 13px;
            margin-bottom: 50px;
            box-shadow: rgba(0, 0, 0, 0.1) 0px -4px 16px 0px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
        }

        .coupon-input {
            height: 10vh;
            box-shadow: rgba(0, 0, 0, 0.1) 0px -4px 16px 0px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
            border-radius: 13px;
            margin-top: 31px;
        }

        .cart-products-listing {
            height: 52vh;
            border-radius: 12px;
            box-shadow: rgba(0, 0, 0, 0.1) 0px -4px 16px 0px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
        }

        .cart-products-container {
            height: 68vh;
            width: 67vw;
            margin-top: 50px;
            margin-left: 45px;
        }

        .cart-container {
            height: auto;
        }

        @media(max-width:1200px) {
            .cart-total-container {
                margin-top: 27px;
                float: left;
                width: 70vw;
                margin-left: 30px;
            }

            .cart-products-container {
                width: 90%;
            }
        }

        .search-nav {
            width: 100%;
            height: 60px;
        }

        @media(max-width:850px) {
            #coupon-code-div {
                display: none;
            }

            .search-bars {
                justify-content: center;
            }
        }

        @media(max-width:500px) {
            .cart-products-container {
                margin-left: 18px;
            }

            th {
                font-size: smaller;
            }
        }

        .total-values {
            height: 69px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            border-bottom: .1px solid rgba(0, 0, 0, 0.599)
        }

        .total-values-container {
            display: grid;
            margin-top: 31px;
            margin-left: 20px;
            margin-right: 20px;
        }

        .total-texts {
            font-weight: 600;
            color: rgba(85, 85, 85, 0.682)
        }

        .cart-prices {
            margin-right: 20px;
        }

        .btn {
            border-radius: 50px;
            text-align: center;
            padding: 0.45rem 0.8rem;
            outline: 0;
            color: white;
            background-color: #4461F2;
            box-shadow: 0px 0px 5px -1px #4461F2;
            width: 18vw;
            height: 48px;
            margin-top: 39px;
            margin-left: 65px;
            margin-bottom: 20px;
        }

        @media (max-width:1200px) {
            .btn {
                width: 27vw;
                margin-left: 270px;
            }
        }

        @media (max-width:900px) {
            .btn {
                width: 27vw;
                margin-left: 200px;
            }
        }

        @media (max-width:700px) {
            .btn {
                width: 42vw;
                margin-left: 97px;
            }
        }

        @media (max-width:500px) {
            .btn {
                width: 48vw;
                margin-left: 52px;
            }
        }

        @media (max-width:380px) {
            .btn {
                width: 49vw;
                margin-left: 32px;
            }
        }

        .btn:hover {
            background-color: #304ee4;
            color: aliceblue;
        }

        .value-button {
            display: inline-block;
            margin: 0px;
            width: 32px;
            height: 36px;
            text-align: center;
            vertical-align: middle;
            padding: 6px 0;
            background: #eee;
            -webkit-touch-callout: none;
            -webkit-user-select: none;
            -khtml-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }

        .value-button:hover {
            cursor: pointer;
        }

        form .decrease {
            margin-right: -4px;
            border-radius: 22px 0 0 22px;
        }

        form .increase {
            margin-left: -4px;
            border-radius: 0 22px 22px 0;
        }

        form #input-wrap {
            margin: 0px;
            padding: 0px;
        }

        input.number {
            text-align: center;
            border: none;
            border-top: 1px solid #ddd;
            border-bottom: 1px solid #ddd;
            margin: 0px;
            width: 40px;
            height: 35px;
        }


        input[type=number]::-webkit-inner-spin-button,
        input[type=number]::-webkit-outer-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }

        .confirm-button {
            width: 119px;
            text-align: center;
            height: 32px;
            background-color: #4461F2;
            border-radius: 7px;
            padding-top: 4px;
            text-decoration: none;
            color: #ddd;
        }
    </style>
</head>

<body>
    <!-- Nav bar -->
    <%-include("./partials/nav-after-login.ejs")%>
        <h2 style="text-align: center; font-weight:800 ; margin-top: 20px;">My Shopping Cart</h2>
        <div class="container-fluid cart-container">
            <div class="cart-products-container">
                <div class="cart-products-listing" style=" padding-top: 13px;">
                    <div class="table-container">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">IMAGE</th>
                                    <th scope="col">PRODUCT</th>
                                    <th scope="col">PRICE</th>
                                    <th scope="col">QUANTITY</th>
                                    <th scope="col">SUBTOTAL</th>
                                </tr>
                            </thead>
                            <tbody>

                                <%cartProduct.Items.forEach((value,index)=>{%>

                                    <tr id="Product_<%=value.Products._id%><%-index%>">
                                        <th scope="row"><img class="p-img" style="float: left;  width: 60px;"
                                                src="<%=value.Products.Image[0]%>" alt="">
                                        </th>
                                        <td>
                                            <%=value.Products._id%><%-index%>
                                        </td>
                                        <td id="Price_<%=value.Products._id%>">
                                            <%=value.Products.Price%>/-
                                        </td>
                                        <td>
                                            <form>
                                                <div class="value-button decrease"
                                                    onclick="updatequantity('<%=value.Products._id%>', '<%=value.Products.Stock%>', -1)"
                                                    value="Decrease Value">-</div>
                                                <input type="number" class="number" id="number_<%=value.Products._id%>"
                                                    style="font-size: smaller;" value="<%=value.Quantity%>" readonly />
                                                <div class="value-button increase"
                                                    onclick="updatequantity('<%=value.Products._id%>', '<%=value.Products.Stock%>', 1)"
                                                    value="Increase Value">+</div>
                                            </form>


                                        </td>
                                        <td id="Subtotal_<%=value.Products._id%>" style="font-weight: 700;">
                                            <%=value.Products.Price*value.Quantity%>/-
                                        </td>
                                        <!-- Update the relevant part of your EJS file -->
                                        <td style="font-weight: 700;">
                                            <button type="button" data-toggle="modal" data-target="#logoutModal<%=value.Products._id%><%-index%>">
                                                <i class="fas fa-times-circle"></i>
                                            </button>

                                        </td>

                                        <!-- are you sure modal -->
                                        <div class="modal fade" id="logoutModal<%=value.Products._id%><%-index%>" tabindex="-1" role="dialog"
                                            aria-labelledby="logoutModalLabel" aria-hidden="true">
                                            <div class="modal-dialog" role="document">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title" id="logoutModalLabel">
                                                        </h5>
                                                        <button type="button" class="close" data-dismiss="modal"
                                                            aria-label="Close">
                                                            <span aria-hidden="true">&times;</span>
                                                        </button>
                                                    </div>
                                                    <div class="modal-body">Are you sure you want to remove this
                                                        Product?</div>
                                                    <div class="modal-footer">
                                                        <button type="button" class=" btn-secondary "
                                                            data-dismiss="modal" style="border-radius: 7px;"
                                                            aria-label="close">
                                                            Cancel
                                                        </button>
                                                        <a onclick="removeProduct('<%=value.Products._id%>','Product_<%=value.Products._id%><%-index%>','cart-empty-msg')"
                                                            class="confirm-button btn-danger " data-dismiss="modal"
                                                            aria-label="close">Confirm</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        
                                        <%})%>
                                        
                                            <%if(cartProduct.Items.length===0){%>
                                                    <p style="text-align: center;color: red;" id="cart-empty-msg">Your Cart is Empty</p>
                                                <%}%>
                                            
                                    </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="coupon-input" style="display: flex;">
                    <div class=" search-nav" style="    margin-bottom: 23px;margin-top: 15px; ">

                        <div class="search-bars" style=" height: 6vh;    height: 6vh;display: flex;">
                            <h5 style="font-weight: 500; margin-top: 15px;margin-right: 7%; margin-left: 25px; "
                                id="coupon-code-div">Coupon Code</h5>
                            <input type="text" class="form-control rounded-pill shadow-none "
                                style="    width: 60%;height: 50px;float: right;" placeholder="Coupon code">
                            <div class="search-icon"
                                style=" background: #2E51FF; float: right;position: relative; width: 7vw; text-align: center; border-radius: 50px; margin-left: -50px; ">
                                <p style="color: aliceblue; margin-top: 12px;">Apply Coupon</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="cart-total-container">
                <h4 style=" margin-left: 10px;  font-weight:600;margin-top: 10px;">Cart Total</h4>
                <div class="total-values-container">
                    <div class="total-values">
                        <p class="total-texts">Subtotal :</p>
                        <p class="cart-prices" id="cartTotal-Subtotal"><%-total%> <span>/-</span></p>
                    </div>
                    <div class="total-values">
                        <p class="total-texts">Discount Price :</p>
                        <p class="cart-prices">-0/-</p>
                    </div>
                    <div class="total-values">
                        <p class="total-texts" style="font-size: x-large; color: black ;">Total :</p>
                        <p style="font-size: x-large; font-weight: 600; " class="cart-prices"><span
                                id="total"><%-total%></span>/-</p>
                    </div>
                </div>
                <a href="/checkout" style="text-decoration: none;"> <button type="submit " value="submit"
                        class="btn">Proceed To Checkout</button></a>
            </div>
        </div>


        <!-- <p class="text-danger">aflu is bad boy </p> -->
        <%-include("./partials/footer.ejs")%>



         
<script>
    window.addEventListener("load",()=>{
        localStorage.setItem("cartcount",'<%-cartProduct.Items.length%>')
    })
    document.addEventListener("DOMContentLoaded", function () {
        // alert(cartProduct.Items.length);
        if (cartProduct.Items.length === 0) {
            window.location.reload();
        }
    });
</script>
        
            <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
                integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
                crossorigin="anonymous"></script>
            <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
                integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
                crossorigin="anonymous"></script>
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js"
                integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
                crossorigin="anonymous"></script>

            <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap/dist/js/bootstrap.min.js"></script>
                <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script> -->
            <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
            
</body>

</html>