<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product Listing verified</title>
</head>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap/dist/css/bootstrap.min.css">
<link rel="stylesheet" href="/css/user/login.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />


<style>
      @import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;700;800;900&display=swap');

*{
    padding: 0;
    margin: 0;
}

:root{
    font-size: 16px;
    font-family: "Raleway";
    --heading-color: hsl(0, 0%, 7%);
    --date-text-color: hsl(0, 0%, 51%);
    --previous-price-text-color: hsl(0, 98%, 44%);
    --current-price-text-color: hsla(0, 0%, 0%, 0.822);
    --liked-heart-icon-color: hsl(0, 98%, 44%);
    --heart-icon-color: whitesmoke;
    --pricing-font-weight: 800;
    --title-font-weight: 800;
    --date-font-weight: 550;

    /* Cards colors */
    --card-main-color : whitesmoke;
    --card-1-secondary-color: rgb(192, 82, 82);
    --card-2-secondary-color: rgb(67,53,27);
    --card-3-secondary-color: rgb(178,180,179);
    --card-4-secondary-color: rgb(96,109,117);
}

html{
    width: 100%;
    height: 100%;
}



.container input{
    display: none;
}

.card-container{
    width: 100%;
    /* background-color: lightgreen; */
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-content: flex-start;
    margin: auto;
    min-height: 30em;
    padding: 3em 1em 1em 1em;
    box-sizing: border-box;
}

/* Card Styling */
.card-div{
  width: 16em;
    height: 25em;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    /* background-color: var(--card-main-color); */
    margin: 2.9em;
    box-sizing: border-box;
    border-radius: 15px;
    /* box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24); */
    box-shadow: rgba(0, 0, 4, 0.1) 0px 0px 7px 2px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;


    transition: transform 0.2s ease-in-out;
}

/* ======== General styling of all cards and heart divs ========== */
.img-div{
    width: 100%;
    height: 8em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 1rem;
    z-index: 1;
    border-radius: 0 0 10px 10px;
}

.img-div img{
    transform-origin: bottom;
    transform: translateY(7.5%);
    transition: transform 0.3s ease-in-out
}

/* === Styling the like Icon ==== */
.like-icon-div{
    padding: 1em 1em 0 1em;
    width: 100%;
    box-sizing: border-box;
    text-align: right;
    font-size: 1.5em;
    color: var(--heart-icon-color);
    border-radius:10px 10px 0 0;
    display: flex;
    justify-content: flex-end;
}

.like-icon-div-child{
    /* background-color: yellow; */
    color: black;
    width: 1em;
    height: 1em;
    position: relative;
    z-index: 3;
    cursor: pointer;
}

.heart-empty{
    position: absolute;
    left: 0;
    opacity: 1;
}

.heart-fill{
    position: absolute;
    left: 0;
    opacity: 0;
    transform: scale(0);
    transition: transform 0.25s ease-in-out, opacity 0.2s ease-in-out;
}


/* God of war image and heart-background*/
/* .gow-img-div{
    background-color: var(--card-1-secondary-color);
} */

.gow-img-div img{
    width: 65%;
    transform: translateY(7.5%);
    /* background-color: whitesmoke; */
}

/* .card-1 .like-icon-div{
    background-color: var(--card-1-secondary-color);
} */


/* Sekiro image and heart-background */
/* .sekiro-img-div{
    background-color: var(--card-2-secondary-color);
} */

.sekiro-img-div img{
    width: 45%;
    transform: translateY(7.5%);
}
/* 
.card-2 .like-icon-div{
    background-color: var(--card-2-secondary-color);
} */


/* Dazai image and heart-background */
/* .dazai-img-div{
    background-color: var(--card-3-secondary-color);
} */

.dazai-img-div img{
    width: 80%;
    transform: translateY(7.5%);
}

/* .card-3 .like-icon-div{
    background-color: var(--card-3-secondary-color);
    
} */

/* U4 image and heart-background*/
/* .u4-img-div{
    background-color: var(--card-4-secondary-color);
} */

.u4-img-div img{
    width: 50%;
    transform: translateY(7.5%);
}

/* .card-4 .like-icon-div{
    background-color: var(--card-4-secondary-color);
} */

/* ======== text Container Styling general ======== */

.text-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    /* background-color: yellow; */
    padding: 0 1.5em;
    padding-top: 7em;
    padding-bottom: 1em;
    box-sizing: border-box;
}

.text-container .item-name,
.text-container .date{
    margin: 0.25em 0;
    text-align: center;
}

.text-container .item-name{
    font-size: 1.2em;
    font-weight: var(--title-font-weight);
    color: var(--heading-color);
    margin-top: -33px;
}

.text-container .date{
    font-size: 0.9em;
    font-weight: var(--date-font-weight);
    color: var(--date-text-color);
}

/* === Pricing and cart div  ===== */
.pricing-and-cart{
    /* background-color: wheat; */
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0.25em 0 1em 0;
}

.pricing{
    display: flex;
    flex-direction: column;
    text-align: left;
}

.previous-price{
    font-size: 0.8rem;
    font-weight: var(--pricing-font-weight);
    color: var(--previous-price-text-color);
    text-decoration: line-through;
    /* background-color: whitesmoke; */
    text-align: left;
}

.current-price{
    color: var(--current-price-text-color);
    font-size: 1.3rem;
    font-weight: var(--pricing-font-weight);
    /* background-color: yellow; */
    margin: 0;
}
.banner-video{
  width: 95%;
    margin-left: 38px;
    margin-top: 3rem;
    border-radius: 17px;
}
.down-banner{
    height: 48vh;
    /* background-color: aquamarine; */
    width: 50%;
    background-image: url(/assets/apple\ banner1.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 13px;
}
.down-banner-txt{
    /* background-color: #4461F2; */
    width: 50%;
    height: 48vh;

}


.pricing-and-cart{
    width: 100%;
}

.fa-shopping-cart{
    font-size: 1.3rem;
    top: 0;
    transform: translateY(50%);
}


/* ====== Hover effects ======= */
.card-div:hover .img-div img{
    transform: translateY(7.5%) scale(1.1);
}

.card-div:hover{
    transform: translate(0, -10px);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 28px 5px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}

.like-icon-div-child:hover .heart-fill{
    opacity: 1;
    transform: scale(1);
}

.like-icon-div-child:hover .heart-empty{
    transition-delay: 0.25s;
    opacity: 0;
}

#card-1-like:checked ~ .heart-empty,
#card-2-like:checked ~ .heart-empty,
#card-3-like:checked ~ .heart-empty,
#card-4-like:checked ~ .heart-empty{ 
        opacity: 0;
}

#card-1-like:checked ~ .heart-fill,
#card-2-like:checked ~ .heart-fill,
#card-3-like:checked ~ .heart-fill,
#card-4-like:checked ~ .heart-fill{
    animation: like-animation 0.25s ease-in-out forwards;
}

#card-1-like:not(:checked) ~ .heart-fill,
#card-2-like:not(:checked) ~ .heart-fill,
#card-3-like:not(:checked) ~ .heart-fill,
#card-4-like:not(:checked) ~ .heart-fill{
    animation: unlike-animation 0.25s ease-in-out ;
}


@keyframes like-animation{
    0%{
        opacity: 1;
        transform: scale(1)
    }
    
    50%{
        opacity: 1;
        color: var(--liked-heart-icon-color);
        transform: scale(0.5);
    }

    100%{
        opacity: 1;
        color: var(--liked-heart-icon-color);
        transform: scale(1.0);
    }
}

@keyframes unlike-animation{
    0%{
        opacity: 1;
        transform: scale(1)
    }
    
    50%{
        opacity: 1;
        transform: scale(0.5);
    }

    100%{
        opacity: 1;
        color: var(--heart-icon-color);
        transform: scale(1.0);
    }
}

    .search-nav{
   background-color: rgb(255, 255, 255);
   width: 100%;
   height: 60px;
}  
#aplexlogosearch{
    margin-top: 14px;
    margin-left: 14px;
    width: 80px;
    
} 
.search-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
}



.search-bars {
    display: flex;
    align-items: center;
    border-radius: 20px;
    padding: 5px;
    margin-top: 11px;
    width: 39vw;
    height: 37px;
    margin-left: 31%;
    box-shadow: 0px 0px 7px -2px;
}

.form-control {
    box-shadow: none;
    border: none;
      width: 95%;   
    outline: none;
}


.search-icon {
    
    color: rgb(238, 13, 13);
    border-radius: 20px; 
    padding: 5px;
    margin-left: 5px;
}
.filter-div{
    height: auto;
    width: 268px;
    background-color: #eaf5ff;
    transform: translateX(-100%);
    transition: transform 0.3s ease-in-out;
    position: absolute;
    z-index: 10;
    margin-top: -27px;
    padding: 25px;
    padding-top: 33px;
    font-size: larger;
    border-radius: 14px;
    /* margin-left: 17px; */
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 28px 5px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;

}


.card-divv{
    height: 100vh;
    background-color: bisque;
    width: 82vw;

}
.main-contaner{
    /* background-color: aquamarine; */
    height: auto;
    display: flex;
}
/* Add this to your existing CSS */


.filter-div.show-filter {
    transform: translateX(0);
}

#filterButton {
    margin-left: 10px; /* Adjust the margin as needed */
}


.fa-heart{
    color: black;
}
.heart-fill{
    color: red;
}

</style>
<body>
    <!-- Nav bar -->
    <%-include("./partials/nav-after-login.ejs")%>



    <div class=" search-nav" style="    margin-bottom: 23px;margin-top: 15px;">
        <button id="filterButton" style="width: 101px; border: 0; border-radius: 5px;">Filter</button>
        
        <div class="search-bars" >
            
            <input type="text" class="form-control rounded-pill shadow-none" placeholder="Search...">
            <div class="search-icon" style="color: #4461F2;" >
                <i class="fas fa-search"  ></i>
            </div>
        </div>
    </div>
    <div class="main-contaner">
        <div class="filter-div">
            <h6 style="font-weight: 600;">Select Category for Filter</h6>
            <%categoryData.forEach((data)=>{%>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="<%=data.name%>" name="category">
                <label class="form-check-label" for="flexCheckDefault">
                  <%=data.name%>
                </label>
              </div>
              <%})%>
              
        </div>
        <!-- <div class="card-divv"> -->
    <div class="container-fluid card-container" id="card_parent" >
        <%products.forEach((data,index)=>{%>
            <!-- <a href="/ProductDetailverified?id=<%=data._id%>" style="text-decoration: none;"> -->
      <div class="card-1 card-div" onclick="goDetail('/ProductDetailverified?id=<%=data._id%>')" style="cursor: pointer;">
          <div class="like-icon-div">
              <label for="card-1-like" class="like-icon-div-child">
                  <input style="    display: none;" type="checkbox" id="card-1-like">
                  <i class="far fa-heart heart-empty"></i>
                  <i class="fas fa-heart heart-fill"></i>
              </label>
          </div>
          <div class="gow-img-div img-div">
                            <img style="width: 195px;" src="<%= data.Image[0] %>" alt="god-of-war-figurine">

          </div>
      
          <div class="text-container">
            
           
              <h2 class="item-name"><%=data.Name%></h2>
             
              <div class="pricing-and-cart">
                  <div class="pricing">
                      <p class="previous-price">₹<%=data.Price-1000%>/-</p>
                      <p class="current-price">₹<%=data.Price%>/-</p>
                  </div>
                  <a href="/cart" style="margin-top: 30px ;"><i class="fas fa-shopping-cart"></i></a>
              </div>
          </div>
      </div>
    </a>
      <%})%>
      
    </div>
        
    </div>
   
    <%-include("./partials/footer.ejs")%>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
    <script>
        
    
    document.addEventListener('DOMContentLoaded', function () {
        const filterButton = document.getElementById('filterButton');
        const filterDiv = document.querySelector('.filter-div');
    
        filterButton.addEventListener('click', function () {
            filterDiv.classList.toggle('show-filter');
        });
    });
    
    </script>
    <script>
  let category=[]
      const categoriescheckbox=document.querySelectorAll("input[name=category]")
        
      categoriescheckbox.forEach((input)=>{
        {input.addEventListener('change',updateProductList)}
      })



      function updateProductList(){
        category=Array.from(document.querySelectorAll("input[name=category]:checked")).map((data)=>data.value)
        category=category.join(",")
        console.log(category);
        let allproducts=[]

        fetch(`/productsfilter?category=${category}`)
        .then(response=>response.json())
        .then(res=>{
            console.log(res);
            res.forEach((x)=>{

                const card=`<div class="card-1 card-div" onclick="goDetail('/ProductDetailverified?id=${x._id}')" style="cursor: pointer;">
          <div class="like-icon-div">
              <label for="card-1-like" class="like-icon-div-child">
                  <input style="    display: none;" type="checkbox" id="card-1-like">
                  <i class="far fa-heart heart-empty"></i>
                  <i class="fas fa-heart heart-fill"></i>
              </label>
          </div>
          <div class="gow-img-div img-div">
                            <img style="width: 195px;" src="${x.Image[0]}" alt="god-of-war-figurine">

          </div>
      
          <div class="text-container">
            
           
              <h2 class="item-name">${x.Name}</h2>
             
              <div class="pricing-and-cart">
                  <div class="pricing">
                      <p class="previous-price">₹${x.Price}/-</p>
                      <p class="current-price">₹${x.Price}/-</p>
                  </div>
                  <a href="/cart" style="margin-top: 30px ;"><i class="fas fa-shopping-cart"></i></a>
              </div>
          </div>
      </div>
    </a>`

    allproducts.push(card)


                
            })
            let data=allproducts.join("")
            if(allproducts.length>=1){
               document.getElementById("card_parent").innerHTML=data;
            }else{

                document.getElementById("card_parent").innerHTML="No Product Found";
            }
        }
            
        )
      }

     


          
    function goDetail(link){
            window.location.href=link
        }
    </script>
</body>
</html>