<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
        integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="/scripts/cart.js"></script>
    <link rel="stylesheet" href="/css/user/login.css">
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
    <title>Wishlist</title>

    <style>
        .cart-total-container {
            height: auto;
            width: 25vw;
            float: right;
            margin-top: -68vh;
            margin-right: 15px;
            border-radius: 13px;
            margin-bottom: 50px;
            box-shadow: rgba(0, 0, 0, 0.1) 0px -4px 16px 0px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
        }

        .coupon-input {
            height: 10vh;
            box-shadow: rgba(0, 0, 0, 0.1) 0px -4px 16px 0px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
            border-radius: 13px;
            margin-top: 31px;
        }

        #returntoshopbtn {
            margin-left: 41%;
            margin-top: 18px;
        }

        .cart-products-listing {
            overflow: scroll;
            height: 62vh;
            border-radius: 12px;
            box-shadow: rgba(0, 0, 0, 0.1) 0px -4px 16px 0px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
        }


        .cart-products-listing::-webkit-scrollbar {
            width: 0;
            /* Remove scrollbar space on Webkit browsers */
        }

        .cart-products-listing {
            scrollbar-width: none;
            /* Firefox */
        }

        .cart-products-container {
            height: 68vh;
            width: 100%;
            margin-top: 50px;
        }

        .cart-container {
            height: auto;
            width: 90%;
        }

        .cartemptyimg {
            width: 39%;
            margin-left: 26vw;
            margin-top: -2vh;
            margin-bottom: 29px;
        }


        @media(max-width:1200px) {
            .cart-total-container {
                margin-top: 27px;
                float: left;
                width: 70vw;
                margin-left: 30px;
            }

            .cart-products-container {
                width: 90%;
            }
        }

        .search-nav {
            width: 100%;
            height: 60px;
        }

        @media(max-width:850px) {
            #coupon-code-div {
                display: none;
            }

            #returntoshopbtn {
                margin-left: 56%;
                margin-top: 18px;
            }

            .search-bars {
                justify-content: center;
            }
        }

        @media(max-width:500px) {
            .cart-products-container {
                margin-left: 18px;
            }

            th {
                font-size: smaller;
            }

            #returntoshopbtn {
                margin-left: 56%;
                margin-top: 18px;
            }
        }

        .total-values {
            height: 69px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            border-bottom: .1px solid rgba(0, 0, 0, 0.599)
        }

        .total-values-container {
            display: grid;
            margin-top: 31px;
            margin-left: 20px;
            margin-right: 20px;
        }

        .total-texts {
            font-weight: 600;
            color: rgba(85, 85, 85, 0.682)
        }

        .cart-prices {
            margin-right: 20px;
        }

        .btn {
            border-radius: 50px;
            text-align: center;
            padding: 0.45rem 0.8rem;
            outline: 0;
            color: white;
            background-color: #4461F2;
            box-shadow: 0px 0px 5px -1px #4461F2;
            width: 18vw;
            height: 48px;
            margin-top: 39px;
            margin-left: 65px;
            margin-bottom: 20px;
        }

        @media (max-width:1200px) {
            .btn {
                width: 27vw;
                margin-left: 270px;
            }

            .cartemptyimg {
                width: 39%;
                margin-left: 26vw;
                margin-top: -2vh;
                margin-bottom: 29px
            }

            #returntoshopbtn {
                margin-left: 27%;

            }
        }

        @media (max-width:900px) {
            .btn {
                width: 27vw;
                margin-left: 200px;
            }

            .cartemptyimg {

                margin-left: 13vw;
                margin-top: 5vh;
            }
        }

        @media (max-width:700px) {
            .btn {
                width: 42vw;
                margin-left: 97px;
            }

            .cartemptyimg {
                width: 100%;
                margin-left: 0vw;

            }

            #returntoshopbtn {
                margin-left: 26%;
            }
        }

        @media (max-width:500px) {
            .btn {
                width: 48vw;
                margin-left: 52px;
            }

            .cartemptyimg {
                width: 100%;
                margin-left: 0vw;
                margin-top: 10vh;
            }
        }


        @media (max-width:380px) {
            .btn {
                width: 49vw;
                margin-left: 32px;
            }
        }

        .btn:hover {
            background-color: #304ee4;
            color: aliceblue;
        }

        .value-button {
            display: inline-block;
            margin: 0px;
            width: 32px;
            height: 36px;
            text-align: center;
            vertical-align: middle;
            padding: 6px 0;
            background: #eee;
            -webkit-touch-callout: none;
            -webkit-user-select: none;
            -khtml-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }

        .value-button:hover {
            cursor: pointer;
        }

        form .decrease {
            margin-right: -4px;
            border-radius: 22px 0 0 22px;
        }

        form .increase {
            margin-left: -4px;
            border-radius: 0 22px 22px 0;
        }

        form #input-wrap {
            margin: 0px;
            padding: 0px;
        }

        .closebutton {
            border: none;
            background-color: unset;
        }

        input.number {
            text-align: center;
            border: none;
            border-top: 1px solid #ddd;
            border-bottom: 1px solid #ddd;
            margin: 0px;
            width: 40px;
            height: 35px;
        }


        input[type=number]::-webkit-inner-spin-button,
        input[type=number]::-webkit-outer-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }

        .confirm-button {
            width: 119px;
            text-align: center;
            height: 32px;
            background-color: #4461F2;
            border-radius: 7px;
            padding-top: 4px;
            text-decoration: none;
            color: #ddd;
        }

        .cart-products-listing ::-webkit-scrollbar {
            width: 0;
            /* Remove scrollbar space on Webkit browsers */
        }

        .cart-products-listing {
            scrollbar-width: none;
            /* Firefox */
        }

        #addtocartbtn {
            width: 140px;
            height: 30px;
            background-color: #4f8dff;
            border-radius: 50px;
            display: flex;
            justify-content: center;
            align-items: center;
            font-weight: 500;
            color: #ffffff;
            cursor: pointer;
        }

        #removefromlistbtn {
            width: 140px;
            height: 30px;
            background-color: #636363;
            border-radius: 50px;
            display: flex;
            justify-content: center;
            align-items: center;
            font-weight: 500;
            color: #ffffff;
            cursor: pointer;
        }
    </style>
</head>

<body>
    <!-- Nav bar -->
    <%-include("./partials/nav-after-login.ejs")%>
        <h2 style="text-align: center; font-weight:800 ; margin-top: 20px;">Wishlist</h2>
        <div class="container-fluid cart-container">
            <div class="cart-products-container">
                <%if(WishlistProducts.length>0){%>

                    <div class="cart-products-listing" style=" padding-top: 13px;">
                        <div class="table-container">
                            <table class="table" id="table">
                                <thead>
                                    <tr>
                                        <th scope="col">IMAGE</th>
                                        <th scope="col">PRODUCT</th>
                                        <th scope="col">PRICE</th>
                                        <th scope="col"
                                            style="display: flex;justify-content: center;align-items: center ;">ADD TO
                                            CART</th>
                                        <th></th>
                                        <th scope="col"
                                            style="display: flex;justify-content: center;align-items: center ;">REMOVE
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>

                                    <%WishlistProducts.forEach((value,index)=>{%>

                                        <tr id="remove_<%=value._id%>">
                                            <th scope="row"><img class="p-img" style="float: left;  width: 60px;"
                                                    src="<%=value.Products.Image[0]%>" alt="">
                                            </th>
                                            <td>
                                                <%=value.Products.Name%>
                                            </td>
                                            <td>
                                                <%=value.Products.Price%>/-
                                            </td>
                                            <td style="display: flex;justify-content: center;align-items: center ;">
                                                <div onclick="addToCart(event,'<%=value.Products._id%>')"
                                                    id="addtocartbtn">Add To Cart</div>
                                            </td>
                                            <td> </td>
                                            <td style="display: flex;justify-content: center;align-items: center ;">
                                                <button
                                                    onclick="remove('<%=value.Products._id%>','remove_<%=value._id%>')"
                                                    id="removefromlistbtn">
                                                    <div>Remove </div>
                                                </button>
                                            </td>

                                            <%})%>
                                        </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>



            </div>
            <%}else{%>

                <img src="/assets/cartempty.png" class="cartemptyimg" alt=" cart-empty-image">
                <button onclick="navigatetoproductlisting()" type="submit " value="submit" class="btn"
                    id="returntoshopbtn">Return To Shop</button>

                <%}%>

        </div>



        <%-include("./partials/footer.ejs")%>
            <script src="https://code.jquery.com/jquery-3.6.4.slim.min.js"
                integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
                crossorigin="anonymous"></script>
            <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
                integrity="sha384-dpQyguPdAyPOUa5CCAE/csm3Iq74d4eOeb24NRLoc/HPb0Ff8yYLK7Cv7a+D5aup"
                crossorigin="anonymous"></script>
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js"
                integrity="sha384-oysqN7c65EkEMB9S0Ag3ZqRde01Jg/rfBTKKY8iPm9nZpPGwTRkcmO9aHTt8XIGL"
                crossorigin="anonymous"></script>

            <script>

                window.addEventListener("load", () => {
                    localStorage.setItem("wishlist", '<%-WishlistProducts.length%>')
                })


                function navigatetoproductlisting() {
                    window.location.href = "/productlistingverified";
                }



                function addtowishlist(productId) {
                    // alert(productId)
                    fetch('/addtowishlist', {
                        method: "POST",
                        headers: { "Content-Type": "application/json" },
                        body: JSON.stringify({ productId })
                    })
                        .then(response => response.json())
                        .then(res => {
                            if (res.success) {
                                showToast(res.message, "#52b963");
                            } else {
                                showToast(res.message, "#FF0000");
                            }
                        })
                        .catch(error => {
                            console.error("Error during fetch:", error);
                            showToast("An error occurred", "#FF0000");
                        });
                }

                function remove(productId, rowId) {
                    const addtowishlist = fetch('/removeFromWishlist', {
                        method: "POST",
                        headers: { "Content-Type": "application/json" },
                        body: JSON.stringify({ productId })
                    })
                        .then(response => response.json())
                        .then(res => {
                            if (res.success) {
                                let currentCount = localStorage.getItem("wishlist")
                                localStorage.setItem("wishlist", currentCount - 1)

                                if (localStorage.getItem("wishlist") <= 0) {
                                    window.location.reload()
                                }
                                document.getElementById(rowId).style.display = 'none';
                                showToast(res.message, "#52b963");
                            } else {
                                showToast(res.message, "#FF0000");
                            }

                        })
                }

                function showToast(message, background) {
                    Toastify({
                        text: message,
                        duration: 2000,
                        newWindow: true,
                        close: true,
                        gravity: "to",
                        position: "center",
                        stopOnFocus: true,
                        style: {
                            background: background,
                            borderRadius: "8px"
                        },
                        onClick: function () { }
                    }).showToast();
                }



            </script>




</body>

</html>